<div class="col-lg-2 col-md-3 sp-none">
    <div class="panel-group sticky-top-stack" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading accordionCapt">
                <h4 class="panel-title1">
                    <a data-toggle="collapse" data-parent="#accordion"
                        href="#collapseOne">CATEGORY&nbsp;&nbsp;<i
                            class="fas fa-angle-down angle-down1 rotate"></i></a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in show">
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value=""
                                        id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        New Release
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value=""
                                        id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Vintage
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title2">
                    <a data-toggle="collapse" data-parent="#accordion"
                        href="#collapseTwo">BRAND&nbsp;&nbsp;<i
                            class="fas fa-angle-down angle-down2 rotate"></i></a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in show">
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value=""
                                        id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Nike
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value=""
                                        id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Adidas
                                    </label>
                                </div>
                            </td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value=""
                                        id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Puma
                                    </label>
                                </div>
                            </td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value=""
                                        id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Umbro
                                    </label>
                                </div>
                            </td>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title3">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">SLEEVE
                        LENGTH&nbsp;&nbsp;<i class="fas fa-angle-down angle-down3 rotate"></i></a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse in show">
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value=""
                                        id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Short Sleeve
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value=""
                                        id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Long Sleeve
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title4">
                    <a data-toggle="collapse" data-parent="#accordion"
                        href="#collapseFour">COLORS&nbsp;&nbsp;<i
                            class="fas fa-angle-down angle-down4 rotate"></i></a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse in show">
                <div class="panel-body panelContainer">
                    <table class="table">
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 ">
                                        <div class="colorPanel rounded"
                                            style="background-color: #f72616;">
                                            <a href=""></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="colorPanel rounded"
                                            style="background-color: skyblue">
                                            <a href=""></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="colorPanel rounded" style="background-color: black">
                                            <a href=""></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="colorPanel rounded"
                                            style="background-color: lightgreen">
                                            <a href=""></a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-lg-3 col-md-6">
                                        <div class="colorPanel rounded"
                                            style="background-color: yellow;">
                                            <a href=""></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="colorPanel rounded" style="background-color: white">
                                            <a href=""></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="colorPanel rounded" style="background-color: grey">
                                            <a href=""></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="colorPanel rounded" style="background-color: brown">
                                            <a href=""></a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-lg-3 col-md-6">
                                        <div class="colorPanel rounded"
                                            style="background-color: #ff8ccd;">
                                            <a href=""></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="colorPanel rounded"
                                            style="background-color: #c43385">
                                            <a href=""></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="colorPanel rounded"
                                            style="background-color: #244ced">
                                            <a href=""></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="colorPanel rounded"
                                            style="background-color: #4ac6e8">
                                            <a href=""></a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title5">
                    <a data-toggle="collapse" data-parent="#accordion"
                        href="#collapseFive">SIZE&nbsp;&nbsp;<i
                            class="fas fa-angle-down angle-down5 rotate"></i></a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse in show">
                <div class="panel-body panelContainer">
                    <table class="table">
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-lg-4 ">
                                        <button type="button" class="btn btn-dark"
                                            style="width: 100%">S</button>
                                    </div>
                                    <div class="col-lg-4">
                                        <button type="button" class="btn btn-dark"
                                            style="width: 100%">M</button>
                                    </div>
                                    <div class="col-lg-4">
                                        <button type="button" class="btn btn-dark"
                                            style="width: 100%">L</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <button type="button" class="btn btn-dark"
                                            style="width: 100%">XL</button>
                                    </div>
                                    <div class="col-lg-6">
                                        <button type="button" class="btn btn-dark"
                                            style="width: 100%">2XL</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>