body {
  overflow-x: hidden;
}

.hide {
  display: none !important;
}

.carousel-inner img {
  transition: all 0.5s ease;
}

.carousel-inner img:hover {
  -webkit-filter: blur(4px);
  /* Chrome, Safari, Opera */
  filter: blur(6px);
}

.carousel-caption {
  position: absolute;
  right: 15%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fcfdfb;
  text-align: left;
  font-size: 50px;
  font-family: 'Anton', sans-serif;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  text-shadow: 3px -2px 2px #474747;
}

.upperitem a:hover {
  color: #ffb108;
}

#UpperNav ul {
  justify-content: end;
}

.navbar-toggler {
  border: 0 !important;
}

.cat-content {
  width: 70%;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}

.cat-content .caption {
  font-family: 'Anton', sans-serif;
  position: absolute;
  font-size: 2em;
  color: white;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.cat-content img {
  height: auto;
  width: 100%;
  border-radius: 5%;
  max-height: 112px;
}



.myfilter {
  position: relative;
}

.myfilter:after {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(48, 61, 68, 0.62);
  mix-blend-mode: multiply;
  border-radius: 5%;
}


.nav-icons {
  list-style-type: none !important;
  margin: 0;
  padding: 0;
}

.nav-icons a {
  color: #000;
}

a:hover {
  color: #e29d00;
  text-decoration: underline;
}

.notif {
  position: absolute;
  top: 0;
  right: 0.3em;
  height: 15px;
  width: 15px;
  background: red;
  border-radius: 3px;
}

.counter {
  font-size: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.stopScrolling {
  overflow: hidden;
}

.sideProduct {
  overflow: hidden;
  overflow-y: scroll;
  overflow-y: unset;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  background-color: #ffffff;
  width: 300px;
  height: 500px;
  color: #000;
  z-index: 15;
  position: fixed;
  top: 0.2em;
  right: 0.2em;
  text-align: center;
  animation: fade 0.3s;
  border-radius: 10px;
}

.exit {
  animation: exit 0.4s;
}

.fade-in {
  animation: fade-in 0.3s;
}

.fade-out {
  animation: fade-out 0.3s;
}

.overlay {
  overflow: hidden;
  display: inline-block;
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: rgba(0, 0, 0, 0.6);
}

.sideProduct .top {
  display: flex;
  background-color: #e9e9e9;
  text-align: center;
  padding: 10px 0;
  position: sticky;
  top: 0;
  width: 100%;
}

.sideProduct h4 {
  color: #000;
  font-size: 0.7em;
}





li.buyItem {
  border-bottom: #aaa 1px solid;
  width: 90%;
  padding: 10px 0;
  display: flex;
  justify-content: normal;
}

.buyItem img {
  width: 90px;
  height: auto;
}

.top button {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  margin-left: 10px;
  color: rgb(226, 157, 0);
  cursor: pointer;
}

.top h3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.buyItem .social {
  margin-top: 10px;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  text-align: center;
}

.buyItem .social li a {
  color: #e67e22;
  background: #fff;
  font-size: 18px;
  line-height: 50px;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 50%;
  margin: 0 2px;
  display: block;
  transition: all .3s ease 0s;
}

.buyItem .social li a:hover {
  background: #e67e22;
  color: #fff;
}

.brand-black {
  color: black;
}

.total-price {
  margin: 0;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  position: sticky;
}

.total-price .col-8 {
  font-size: 1.3rem;
}

.btn-danger {
  width: 70%;
}

.btn-danger h3 {
  margin-bottom: 0;
  color: #ffff !important;
  font-size: 1.6rem !important;
}

.checkout {
  width: 70%;
  margin-bottom: 1em;
}

.checkout h3 {
  margin-bottom: 0;
  color: #000 !important;
  font-size: 1.6rem !important;
}



.carousel-caption-lg {
  bottom: 50px;
}

.carousel-caption-md {
  bottom: 45px;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;

}


.card {
  border-width: 1px;
  visibility: hidden;
}


.figure-caption {
  font-size: 20px;
  color: black;

}

.mt30 {
  margin-top: 30px;
}

.mt50 {
  margin-top: 50px;
}

.mt100 {
  margin-top: 100px;
}


#header {
  transition: 0.6s;
  font-size: 28px;
}

.producCart ul {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sideProduct .empty {
  justify-self: center;
  margin: 150px auto;
}



figcaption {
  font-family: 'Lora', serif;
}

#footer {
  font-family: 'Noto Sans JP', sans-serif;
}

#footer>.container {
  padding-top: 2em;
}

.sideProduct h3 {
  font-family: 'Anton', sans-serif;
  font-style: bold;
  color: #000;
  font-size: 0.8em;
}

.sideProduct ul {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.sideProduct .caption {
  color: #000;
  margin-left: 0.5rem;
  width: 100%;
}

.buyItem h5 {
  font-size: 0.9rem;
}

.buyItem button {
  background: transparent;
  color: #000;
  cursor: pointer;
  font-weight: 900;
  font-size: 1.2rem;
  padding: 0 6px;
  border: none;
}

.count {
  font-size: 0.6em;
  border: 1px solid black;
  padding: 5px;
  border-radius: 6px;
  background-color: #eac6a666;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #fff;
}

#pagination {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#pagination a{
  color: #212529;
}

#pagination a:hover{
  color: #212529;
}

h4 {
  font-family: 'Anton', sans-serif;
  font-style: bold;
  color: white;
}

h5 {
  font-size: 1rem;
}

li {
  color: white;
}

#iconid {
  display: block;
  max-width: 100%;
  height: auto;
}

hr {
  color: white;
  border-radius: 3px;
}


.form-inline {

  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
  float: right;
}


.bg-dark {
  background-color: #000 !important;
}

.bg-grey {
  background-color: #f7f7f7 !important;
}

h3.h3 {
  text-align: center;
  margin: 1em;
  text-transform: capitalize;
  font-size: 1.7em;
}

.btn-outline-success:hover {
  color: white;
  background-color: #ff9506;
  border-color: #ff9506
}

.modal-header {
  border-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.modal-list {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 12px;
  color: black;
}


.modal-body {
  padding-left: 3rem;
  padding-right: 3rem;
  margin-bottom: 3rem;
}

.modal-caption {
  font-size: 30px;
  margin-bottom: 2rem;
}

.label-caption {
  font-size: 14px;
}

.form-check-label {
  width: 100%;
}

.mt2rem {
  margin-top: 2rem;
}

.mt1rem {
  margin-top: 1rem;
}

.banner-img {
  margin: 0 auto;
  object-fit: cover;
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: url(../ASSETS/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

.bannerTitle {
  font-family: 'Anton', sans-serif;
  font-size: 60px;
  color: white;
}

.bannerText {
  padding-top: 398px;
  padding-left: 36px;
  margin-bottom: 0 !important;
}

.bannerCaption {
  color: white;
  margin-top: -29px;
  font-size: 17px;
}

.font20 {
  font-size: 20px;
}

.big-container {
  margin-left: 70px;
  margin-right: 70px;
}

.midContainer {
  width: 80%;
  margin: 0 auto;
}

.catalogueCont {
  margin-left: 50px;
  margin-right: 50px;
}

.catalogueHeader {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-light {
  background-color: white !important;
  border-color: #ffffff !important;
}

.navbar-checkout{
  font-size: 28px;
}

.sans-serif {
  font-family: 'Anton', sans-serif;
}

.navbar-light .navbar-nav>.active>a,
.navbar-light .navbar-nav>.active>a:focus,
.navbar-light .navbar-nav>.active>a:hover {
  color: #e29d00 !important;
  background-color: #fff0 !important;
}

.mr-auto,
.mx-auto {
  margin: auto !important;
}

.nav-link {
  color: black;
}

.btn-outline-success {
  margin-bottom: 60px;
  color: #fd9d00;
  border-color: #fd9d00;
}

.nav-item {
  margin-right: 20px;
  color: black;
}

#dropdownMenuButton {
  transition: none !important;
}

.flag-icon {
  margin-top: 0.5rem;
}


.omb_btn-facebook {
  background-color: black;
  color: white;
}

.omb_btn-google {
  background-color: #e29d00;
  color: white;
}

.modal_Title {
  text-align: center;
}

#seeMoreBtn {
  background-color: #e67e22;
  color: #fff;
  font-size: 17px;
  width: 100%;

}



.promoCtn img {
  position: relative;
  width: 100%;
  height: 800px;
}


.promoTitle {
  font-family: 'Anton', sans-serif;
  font-size: 45px;
  color: white;

}

.promoText {
  position: absolute;
  top: 80%;
  left: 35px;
  width: 100%;
}

.promoTitle-black {
  font-family: 'Anton', sans-serif;
  font-size: 45px;
  color: black
}

.promoCtn img:hover {
  -webkit-filter: blur(4px);
  filter: blur(6px);
}

.card-img-top:hover {
  -webkit-filter: blur(4px);
  filter: blur(6px);
}

.card-img-top {
  transition: all 0.5s ease;
}

.promoCtn img {
  transition: all 0.5s ease;
}

.promoBanner img {
  width: 100%;
  height: auto;
  transition: transform .5s;
}


.btnTeal {
  background-color: #46d4cf;
  color: white;
}

.btn-purple {
  background-color: #4f24ed;
  color: white;
}


.promoBanner2 img {
  width: 100%;
  height: auto;
  transition: transform .5s;
}

.promoBanner2 img:hover {
  transform: scale(1.1);
}

.fas :active {
  transform: rotate(20deg);
}



.glyphicon {
  margin-right: 10px;
}

.panel-default {
  margin-top: 1em;
}

.panel-body {
  padding: 0px;
}

.panel-body table tr td {
  padding-left: 15px
}

.panel-body .table {
  margin-bottom: 0px;
}

#accordion {
  font-family: 'Noto Sans JP', sans-serif;
}

#accordion a {
  color: black;
}

.sticky-top-stack {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}

.colorPanel {
  height: 30px;
  width: 30px;
}

.colorPanel:hover {
  cursor: pointer;

}

.page-number {
  padding: .5rem .75rem;
  font-family: 'Anton', sans-serif;
  font-weight: bold;
}

.page-number:hover {
  background-color: #e29d00;
  border-color: #e29d00;
}

.page-number.active {
  background-color: #e29d00;
  border-color: #e29d00;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 30%;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
}

#dropdownMenuButton {
  transition: all .5s ease;
}

.dropdown-toggle:click #dropdown {
  transform: translateY(0);
}

.dropdown-toggle {
  vertical-align: center !important;
}

.dropdown-toggle:hover {
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: orange;
}

.dropdown-item {
  font-family: 'Anton', sans-serif;
}

.pagination-number {
  font-family: 'Anton', sans-serif;
  font-weight: bold;
}

.page-item.active .page-link {
  z-index: 1;
  color: black;
  background-color: #e29d00;
  border-color: #e29d00;
}

.page-link[disabled='true'] {
  background-color: #dedede;
}

.page-link[disabled='true']:hover {
  color: #000;
}

.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #000;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.pagination button {
  border: none;
  background: none;
}

.breadcrumb a {
  color: black;
  text-decoration: none;
}

.breadcrumb {
  background-color: white;
  font-family: 'Noto Sans JP', sans-serif;
}

.breadcrumb-item.active {
  color: #e29d00;
}

/********************* Shopping Demo-3 **********************/
.product-grid3 {
  font-family: Roboto, sans-serif;
  text-align: center;
  position: relative;
  z-index: 1
}

.product-grid3:before {
  content: "";
  height: 81%;
  width: 100%;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .1);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .5s ease 0s
}

.product-grid3:hover:before {
  opacity: 1;
  height: 100%
}

.product-grid3 .product-image3 {
  position: relative
}

.product-grid3 .product-image3 a {
  display: block
}

.product-grid3 .product-image3 img {
  width: 100%;
}

.product-grid3 .pic-1 {
  opacity: 1;
  transition: all .5s ease-out 0s;
  border-radius: 3%;
}

.product-grid3:hover .pic-1 {
  opacity: 0
}

.product-grid3 .pic-2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all .5s ease-out 0s;
  border-radius: 3%;
}

.product-grid3:hover .pic-2 {
  opacity: 1
}

.product-grid3 .social {
  width: 120px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  opacity: 0;
  position: absolute;
  right: 0;
  left: 0;
  bottom: -23px;
  transform: scale(0);
  transition: all .3s ease 0s
}

.product-grid3:hover .social {
  opacity: 1;
  transform: scale(1)
}

.product-grid3:hover .product-discount-label,
.product-grid3:hover .product-new-label,
.product-grid3:hover .title {
  opacity: 0
}

.product-grid3 .social li {
  display: inline-block
}

.product-grid3 .social li a {
  color: #e67e22;
  background: #fff;
  font-size: 18px;
  line-height: 50px;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 50%;
  margin: 0 2px;
  display: block;
  transition: all .3s ease 0s
}

.product-grid3 .social li a:hover {
  background: #e67e22;
  color: #fff
}

.product-grid3 .product-discount-label,
.product-grid3 .product-new-label {
  background-color: #e67e22;
  color: #fff;
  font-size: 17px;
  padding: 2px 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: all .3s
}

.product-grid3 .product-content {
  z-index: -1;
  padding: 15px;
  text-align: left
}

.product-grid3 .title {
  font-size: 14px;
  text-transform: capitalize;
  margin: 0 0 7px;
  transition: all .3s ease 0s
}

.product-grid3 .title a {
  color: #414141
}

.product-grid3 .price {
  color: #000;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-right: 2px;
  display: inline-block
}

.product-grid3 .price span {
  color: #909090;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  text-decoration: line-through;
  text-align: left;
  display: inline-block;
  margin-top: -2px
}

.product-grid3 .rating {
  padding: 0;
  list-style: none;
  text-align: right;
  display: block
}

.product-grid3 .rating li {
  color: #ffd200;
  font-size: 13px;
  display: inline-block
}

.product-grid3 .rating li.disable {
  color: #dcdcdc
}

@media only screen and (max-width:1200px) {
  .product-grid3 .rating {
    margin: 0
  }
}

@media only screen and (max-width:990px) {
  .product-grid3 {
    margin-bottom: 30px
  }

  .product-grid3 .rating {
    margin: 0px 0 0;
  }
}

@media only screen and (max-width:359px) {
  .product-grid3 .rating {
    margin: 0
  }
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

@media only screen and (max-device-width: 400px) {
  .part2 {
    height: 400px
  }
}

/* SMARTPHONE */

@media only screen and (max-width:768px) {

  .sp-none {
    display: none;
  }

  .navbar-toggler {
    order: 1;
  }

  .navbar-collapse {
    order: 2;
  }

  .catalogueCont {
    margin-left: 0;
    margin-right: 0;
  }

  .catalogueCont .col-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .cat-content {
    width: 100%;
  }

  .cat-content img {
    max-height: none;
  }

  .banner-img {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }

  .nav-item {
    margin-right: 0;
  }

  #UpperNav ul {
    justify-content: center;
  }
  
  #promo1 .promoBanner{
    margin-bottom: 50px;
  }

#promo1 .promoBanner, #promo2 .promoBanner{
    position: relative;
    left: calc(-50vw + 50%);
    width: 100vw;
  }
}


@media (min-width: 768px) {

  .carousel-item {
    margin-right: auto !important;
  }

  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active+.carousel-item,
  .carousel-inner .active+.carousel-item+.carousel-item {
    display: block;
  }

  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left+.carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left+.carousel-item,
  .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
  .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right+.carousel-item,
  .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
  .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}




.banner {
  background-image: url(../ASSETS/banner.jpg);
  background-repeat: no-repeat;
}

@media (min-width: 768px) {

  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active+.carousel-item,
  .carousel-inner .active+.carousel-item+.carousel-item,
  .carousel-inner .active+.carousel-item+.carousel-item+.carousel-item {
    display: block;
  }

  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item+.carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left+.carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left+.carousel-item,
  .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
  .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item,
  .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right+.carousel-item,
  .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
  .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item,
  .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }

}

h2 {
  text-align: center;
  padding: 20px;
}

/* Slider */

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.heartbeat {
  -webkit-animation: heartbeat 1s ease-in-out infinite both;
  animation: heartbeat 1s ease-in-out infinite both;
}


/* 
    Sometimes the sub menus get too large for the page and prevent the menu from scrolling, limiting functionality
    A quick fix is to change .side-menu to 

    -> position:absolute
    
    and uncomment the code below.
    You also need to uncomment 
    
    -> <div class="absolute-wrapper"> </div> in the html file

    you also need to tweek the animation. Just uncomment the code in that section
    --------------------------------------------------------------------------------------------------------------------
    If you want to make it really neat i suggest you look into an alternative like http://areaaperta.com/nicescroll/
    This will allow the menu to say fixed on body scoll and scoll on the side bar if it get to large
*/
/*.absolute-wrapper{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
}*/

@-webkit-keyframes fade {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: none;
  }
}

@-webkit-keyframes exit {
  0% {
    transform: none;
  }

  100% {
    transform: translateX(110%);
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-11-7 22:52:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}


.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

.rotate {
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.rotate.down {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}