* {
    font-family: 'Century Gothic', sans-serif;
}

.main-content {
    background-color: #0f1320;
}

nav {
    background-color: #ffffff00 !important;
    margin: 0 2.3em 1em;
}

h1 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 3em;
    line-height: 1.15em;
    letter-spacing: -1px;
}


.top-caption p {
    color: rgb(139, 139, 139) !important;
    margin-bottom: 2.5em;
}

#loader {
    opacity: 1;
    position: fixed;
    z-index: 99999;
}

.row>* {
    padding-right: calc(1.5rem * .5);
    padding-left: calc(1.5rem * .5);
}

#content {
    opacity: 0;
}


.sp-show {
    display: none !important;
}

ul.ctrl {
    display: none;
}

.vh60 {
    height: 60vh;
}

.navbar {
    padding-top: 2em;
}

.navbar-brand {
    margin-right: 2rem;
}

.nav-right {
    width: 15em;
}

.nav-right ul {
    margin-bottom: 0;
}

.nav-right button {
    width: 45%;
    margin-left: 1em;
}

.navbar-brand img {
    vertical-align: super;
}

.navbar.block {
    background-color: transparent !important;
}

.cont-background {
    background-image: url(../img/top-bg.png);
    background-size: 60%;
    background-position-y: initial;
    background-position-x: right;
    background-repeat: no-repeat;
}


#top {
    background-image: url(../img/bg-1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#section2 {
    background-image: url(../img/bg-2.png);
    background-size: 90%;
    background-repeat: no-repeat;
    margin-top: 3%;
    background-position-x: 5em;
}

#section4 {
    position: relative;
    background-color: #ffffff;
}

#section4::after {
    content: '';
    position: absolute;
    background-color: transparent;
    bottom: -18em;
    height: 18em;
    width: 10em;
    right: 0;
    border-top-right-radius: 10em;
    box-shadow: 0px -10em 0px 0 #0f1320;
    z-index: 2;
}


#section4>.container-fluid {
    position: relative;
    border-top-right-radius: 10em;
    z-index: 3;
    background-color: #0f1320;
    border-bottom-left-radius: 10em;
}

#section5 {
    margin-top: -17em;
    position: relative;
    background-image: url(../img/lower-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

#section5::before {
    content: '';
    position: absolute;
    background-color: transparent;
    bottom: 0;
    height: 18em;
    width: 10em;
    left: 0;
    border-bottom-left-radius: 10em;
    box-shadow: 0px 9em 0px 0 #0f1320;
    z-index: 1;
}

#section5::after {
    content: '';
    position: absolute;
    background-color: transparent;
    bottom: -18em;
    height: 18em;
    width: 10em;
    right: 0;
    border-top-right-radius: 10em;
    box-shadow: 0px -9em 0px 0 #E20613;
    z-index: 2;
}

.green-ttl {
    color: #22A75D;
    text-decoration: underline;
}

.green-link {
    color: #22A75D;
}

.green-link::after {
    content: url(../img/green-link.png);
    vertical-align: sub;
    margin-left: 5px;
}

.blue-ttl {
    color: #2278D4;
    text-decoration: underline;
}

.blue-link {
    color: #2278D4;
}

.blue-link::after {
    content: url(../img/blue-link.png);
    vertical-align: sub;
    margin-left: 5px;
}

.lower-card {
    position: relative;
    margin-top: 18em;
    margin-bottom: -7em;
    z-index: 3;
}

.card {
    height: 30em;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 82px;
    margin: 0 auto;
}

.card h3 {
    font-weight: bold;
}

.card h4 {
    font-weight: bold;
}

.lower-card .col-lg-4:nth-child(2) {
    margin-top: 2em;
}

.lower-card h2 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    font-weight: bold;
    color: #ffffff;
}

#section5 .card {
    text-align: center;
    padding: 1em;
    border-radius: 1em;
}

#section6 {
    border-top-right-radius: 10em;
}

#section6 h2 {
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    margin-top: 5em;
}

.z-index2 {
    position: relative;
    z-index: 2;
}

.ld-card {
    counter-increment: value;
    position: relative;
    display: flex;
    background-color: #171B29;
    padding: 4em;
    width: 100%;
    height: 16em;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}

.ld-card::before {
    content: "0"counter(value);
    color: #5C5F69;
    top: 1em;
    left: 1em;
    position: absolute;
    text-align: right;
    width: 26px;
    font-weight: bold;
}

.green-arrow:after {
    content: url(../img/green-arrow.png);
    position: absolute;
    top: 5em;
    right: -4em;
    z-index: 3;
}

.yellow-arrow:after {
    content: url(../img/yellow-arrow.png);
    position: absolute;
    top: 2em;
    right: -4em;
    z-index: 3;
}

#section6 .z-index2 .col-lg-4:nth-child(2) {
    margin-top: 3em;
}







.ld-card .caption {
    color: #FFFFFF;
    font-weight: bold;
}

#section3 {
    /* background-image: url(../img/background_2.png);
    background-size: cover;
    background-repeat: no-repeat; */
}

.mt-20 {
    margin-top: 20px;
}

.container {
    padding: 3em 2em;
}

.content-img {
    width: 100%;
    height: auto;
}

.cst-container {
    padding: 2em 2.3em 1em;
}

.cst-center {
    margin: 0 auto;
}

.card-section {
    margin-top: 5em;
}

.cst-card {
    background: #171B29;
    border-radius: 25px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

.card-section .col-lg-6:nth-child(2) {
    margin-top: 5em;
}

.cst-card .card-title {
    font-family: 'Ceviche One', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #FFFFFF;
}

.cst-card .caption {
    color: #8B8B8B;
}

.mySlides img {
    width: 100%;

}

.tes {
    transform: scale(0.9);
}

.btn {
    font-family: 'Ceviche One', sans-serif;
    font-size: 14px;
    font-weight: 400;
    box-shadow: 0px 15px 25px rgba(34, 167, 93, 0.25);
    border-radius: 52px;
    width: 37%;
}

.btn-green {
    background-color: #22A75D;
    border-color: #22A75D !important;
}

.btn-yellow {
    background-color: #FFD100;
    border-color: #FFD100 !important;
    color: #000 !important;
}

.btn-contact {
    height: 3em;
    width: 10em;
    background-color: #232340;
    color: #FFFFFF !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.img-def {
    display: flex;
    width: 70%;
    height: auto;
    margin: 0 auto;
}



.nav-link {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    position: relative;
    overflow: visible;
}

.nav-link.active {
    /* color: #5468E7; */
}

.slide-in-tr {
    -webkit-animation: slide-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-top {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.list-container {
    margin-top: 5em;
}

ol li {
    counter-increment: list;
    list-style-type: none;
    position: relative;
    color: #B7B8BC;
}

ol li:before {
    content: "0"counter(list) "";
    left: -40px;
    position: absolute;
    text-align: right;
    width: 26px;
    font-weight: bold;
}

ol.green-list li::before {
    color: #22A75D;
}

ol.blue-list li:before {
    color: #2278D4;
}

ol.yellow-list li:before {
    color: #FFD100;
}

ol.red-list li:before {
    color: #E20613;
}

.lower-content .caption {
    color: #9FA1A6;
}

.more-text {
    display: none;
}

.base-vert {
    vertical-align: baseline;
    margin-right: 1rem;
}

.lower-content h2 {
    color: #FFFFFF;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 0.7em;
}

.lower-content .img-block {
    width: 100%;
}

.caption p {
    margin-top: 2.5em;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #DDE2FF;
}

.quotes::before {
    content: url(../img/quotes.png);
    font-style: italic;
    margin-right: 5px;
    width: 10px;
}

.quotes {
    font-weight: bold;
    font-size: 1.3em;
    text-indent: -20px;
    padding-left: 20px;
}

.btn-purple {
    margin-top: 2em;
    background-color: #5468E7;
    height: 11%;
    width: 45%;
    font-size: 1.1em;
    line-height: 24px;
    font-weight: 500;
}

.bg-tri {
    background-image: url(../img/bg-tri-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    padding-top: 40px;
    padding-bottom: 40px;
}

.bg-tri-2::after {
    position: absolute;
    content: url(../img/bg-tri-2.png);
    right: 0;
    top: -2.5em;
    z-index: -1;
}

.mt-lg {
    margin-top: 3em;
}

.link-icon {
    width: 48px;
    height: 48px;
    margin-right: 15px;
}

.link-prim {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #8B8B8B;
    text-decoration: none;
}

span.number {
    color: #8B8B8B;
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 24px;
    margin-right: 1.2em;
}

.title-caption {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 24px;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 3.5em;
    line-height: 72px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    width: 70%;
}

.nav-collapse {
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.nav-collapse.show {
    display: flex;
}

.tab-content {
    color: #FFFFFF;
}

.nav-pills {
    width: 80%;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.tab-bg{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
}

.nav-pills button.nav-link.active::after {
    content: url(../img/point.png);
    z-index: 2;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 13em;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: transparent !important;
}

.nav-pills button.nav-link::before {
    content: url(../img/line.png);
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    margin-top: -5px;
}

.nav-pills button:not(:first-child) {
    margin-top: 3em;
}

.tabing {
    margin-top: 4em;
}

.tabing .row .col-lg-3 {
    margin-top: 3em;
}


.lower-tab-content {
    margin-top: 5em;
}

.lower-tab-content h2 {
    color: #FFFFFF;
    position: relative;
}

.lower-tab-content h2,
.lower-tab-content .caption {
    padding-left: 6rem;
}

.lower-tab-content button {
    margin-left: 6rem;
}

.lower-tab-content h2 {
    border-left: 2px solid #F1B2CC;

}

.lower-tab-content .caption {
    color: #8B8B8B;
}

.lower-tab-content .col-lg-4 {
    margin-left: 8em;
}

.lower-tab-content .col-lg-4 .content {
    background-color: #06080E;
    border-radius: 50%;
    height: 19rem;
    box-shadow: 0px 23px 50px rgb(0 0 0 / 25%);
    color: #ffffff;
}


#section2 .content>h2 {
    font-weight: 700;
    font-size: 2em;
    line-height: 40px;
}

#section4 .content>h2 {
    font-weight: 700;
    font-size: 2em;
    line-height: 40px;
}

#section4 .lower-content {
    margin-top: 5em;
}

#section4 .caption {
    line-height: 1.5em;
}

#section4 .lower-content br {
    display: block;
    margin-top: 2em;
    content: " ";
}

.width-half.width-container2 .caption br {
    display: block;
    margin-top: 2em;
    content: " ";
}

#section4>.container-fluid {
    border-top-right-radius: 0;
}


#section2 .content>p.caption {
    font-weight: 400;
    font-size: 1.2em;
    line-height: 32px;
    color: #8B8B8B;
    margin-top: 5%;
    margin-bottom: 5%;
}

.cst-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.width-half {
    width: 50%;
}

.width-container1 {
    background-image: url(../img/width-bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 53%;
}

.width-container2 {
    background-color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 5em;
    padding-top: 10em;
    border-top-left-radius: 53%;
}

.width-container2 .content {
    background-image: url(../img/white-bg.png);
    background-size: contain;
}

.date {
    font-weight: 600;
    font-size: 10em;
}

.date-caption {
    font-weight: 700;
    font-size: 1.5em;
    margin-top: -2em;
}

.dropdown {
    width: 10rem;
    background-color: #232340;
    color: white;
    border: none;
}

.pink-border {
    border-left: 2px solid #F1B2CC;
    border-radius: 1px;
    height: 80px;
    margin-top: 62%;
}

/* CAROUSEL  */
.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 50%
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: #5468E7;
    border-radius: 50%;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active,
.dot:hover {
    background-color: #717171;
}

.tab-button {
    position: relative;
    margin-bottom: 20px;
}

.tab-button .prev,
.tab-button .next {
    position: static;
}

/* Fading animation */
.blink {
    animation-name: blink;
    animation-duration: 0.5s;
}

/* .fade:not(.show) {
    opacity: 1 !important;
} */

@keyframes blink {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}


#section3 .number,
#section5 .number,
#section3 .title-caption,
#section5 .title-caption {
    color: #5468E7;
}

.cst-row .title {
    font-size: 3em;
    line-height: 1.3em;
}

.cst-row .sub-title {
    font-size: 1.5em;
}

.cst-row .caption {
    font-size: 1em;
}

#section3 .title,
#section5 .title {
    color: #232340;
}

#section5 .title-lower,
#section3 .title-lower {
    font-weight: 400;
    font-size: 1em;
    line-height: 32px;
    color: #606060;
    width: 50%;
    margin-top: 5%;
}

#section5 .title-lower {
    width: 75%;
}

.car-btn .carousel-control-next,
.car-btn .carousel-control-prev {
    position: relative !important;
}

.dropdown {
    margin-left: 3.5em;

}

.dropdown .btn-secondary {
    background-color: #6c757d00 !important;
    width: 10rem;
}

.dropdown-toggle::after {
    margin-left: 5em !important;
}

.card-content {
    margin-top: 10%;
}

.card-date {
    font-weight: 700;
}

.card-price {
    margin-top: 10%;
}

.card-price h4 {
    font-size: 1.3rem;
}

.upper-content-card {}

.lower-card .col-lg-4:nth-child(1) .card .upper-content-card {
    background-image: url(../img/card-01.png);
    background-size: contain;
}

.lower-card .col-lg-4:nth-child(2) .card .upper-content-card {
    background-image: url(../img/card-02.png);
    background-size: contain;
}

.lower-card .col-lg-4:nth-child(3) .card .upper-content-card {
    background-image: url(../img/card-03.png);
    background-size: contain;
}



.card-1 {
    background-color: #FFCE79;
    border-radius: 24px;
    width: 85%;
    padding-top: 5em;
    padding-bottom: 5em;
    position: relative;
}

.card-2 {
    background-color: #D1ECFD;
    border-radius: 24px;
    width: 85%;
    padding-top: 5em;
    padding-bottom: 5em;
    position: relative;
}

.card-caption .caption {
    margin-top: 7%;
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
    line-height: 48px;
    letter-spacing: -0.4px;
    color: #232340;
}

.card-caption .lower-caption {
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    color: #606060;

}

.lower-list li {
    font-weight: 700;
}

.card-content .img-def {
    transform: scale(1.3);
}

.ico-2::after {
    content: url(../img/ico-2.png);
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-left: 0.5em;
}

.ico-6::after {
    content: url(../img/ico-6.png);
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-left: 0.5em;
}

.featured {
    position: absolute;
    top: 2em;
    left: -2em;
}

.card-arrow {
    position: absolute;
    bottom: 2em;
    right: -2em;
}

.card-arrow:hover {
    cursor: pointer;
}

.card-info-content {
    margin-top: 5em;
}

.card-info h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 10em;
    line-height: 239px;
    color: #FFFFFF;
}

.card-info .caption {
    margin-top: -1em;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 2em;
}

.caption-card {
    padding-top: 3em;
    border-top: 1px solid #606060;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 32px;
    color: #8B8B8B;
}

.download-link {
    text-decoration: none;
    color: #FFFFFF;
}

.download-link img {
    margin-right: 1em;
}

.card-info-content .col-lg-4:nth-child(1) {
    margin-top: 10em;
}

.card-info-content .col-lg-4:nth-child(2) {
    margin-left: 5em;
}

.carousel-control-prev-icon {
    content: url(../img/left.png) !important;
}

.carousel-control-next-icon {
    content: url(../img/right.png) !important;
}

.lower-list {
    margin: 0 auto;
}

.lower-list li {
    text-align: center;
    list-style: none;
}

.lower-list li a {
    color: #ffffff;
}

.carousel {
    margin-top: 1em;
    margin-bottom: -25%;
}

.center {
    margin: 0 auto;
}

.carousel-control-prev {
    left: -4em;
}

.carousel-control-next {
    right: -4em;
}

.carousel-inner {
    transform: scale(0.9);
}

.card-white {
    background: #FFFFFF;
}

.job-card {
    border-radius: 40px;
    box-shadow: 0px 15px 17px 20px rgba(237, 237, 237, 0.68);
    -webkit-box-shadow: 0px 15px 17px 20px rgba(237, 237, 237, 0.68);
    -moz-box-shadow: 0px 15px 17px 20px rgba(237, 237, 237, 0.68);
    transition: background 0.2s 0s linear;
}

.job-card:hover {
    cursor: pointer;
    background-color: #232340;
    color: #FFFFFF !important;
    box-shadow: 0px 15px 17px 20px rgba(237, 237, 237, 0.68);
    -webkit-box-shadow: 0px 15px 17px 20px rgba(237, 237, 237, 0.68);
    -moz-box-shadow: 0px 15px 17px 20px rgba(237, 237, 237, 0.68);
}

.job-arrow {
    margin-top: 2em;
}

.job-card .content {
    padding: 1.5em;
}

.job-card .card-title {
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 40px;
    color: #232340;
}

.job-card .caption {
    font-style: normal;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 32px;
    color: #606060;
}

.job-card .img-b {
    display: block;
}

.job-card:hover .img-b {
    display: none;
}

.job-card .img-w {
    display: none;
}

.job-card:hover .img-w {
    display: block;
}

.job-card:not(:first-child) {
    margin-top: 3em;
}

.job-card:hover .card-title {
    color: white;
}

.job-card .card-img {
    opacity: 0;
}

.job-card:hover .card-img {
    opacity: 1;
}

.job-card:hover .caption {
    color: #8B8B8B;
}

#section6 .col-lg-12 {
    padding-top: 5em;
    padding-bottom: 10em;
}

#lower-slideshow .mySlides {
    margin-top: 4em;
}

#lower-slideshow .mySlides img {
    width: 80%;
    margin: 0 auto;
}

.greet::before {
    content: url(../img/emoji.png);
    margin-right: 10px;
}

.greet p {
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    font-size: 1.1em;
    line-height: 24px;
    margin-top: 1.5em;
}

.greet .caption {
    width: 50%;
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
    line-height: 40px;
    margin-top: 1em;
}

#section6 .col-lg-6 .content {
    width: 80%;
    margin: 0 auto;
}

#section6 .col-lg-6 h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 4em;
    line-height: 72px;
}

#section6 .col-lg-6 {
    border-top: 1px solid #FFFFFF;
    padding-top: 5em;
    padding-bottom: 7em;
}

#section6 .col-lg-6:first-child {
    border-right: 1px solid #FFFFFF;
}

#section6 span {
    margin-left: 0.5em;
}

#section6 .content {
    border-radius: 40px;
}

#section7 .caption {
    width: 50%;
    margin: 0 auto;
}

.footer-background {
    background-image: url(../img/footer-bg.png);
    background-size: cover;
}

.footer-copy::before {
    content: url(../img/footer-copy.png);
    position: absolute;
    left: -1.8em;
}

.text-right {
    text-align: right;
    color: #ffffff;
}

.grey-text {
    position: relative;
    color: #788096;
    text-decoration: underline;
}

footer ul {
    align-items: center;
}

#section6 li a:hover{
    color: #0a4a9d;
}


.fade-in {
    animation: fade-in 2s cubic-bezier(.39, .575, .565, 1.000) 2s both
}

.fade-out {
    animation: fade-out 2s ease-out 2s both
}

.footer-circle {
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

/* ANIMATION */
.card-arrow:hover img,
.rightArr:hover img {
    animation: rightArr 1s linear 0s infinite normal both;
    cursor: pointer;
}

.job-card:hover .job-arrow img {
    animation: rightArr 1s linear 0s infinite normal both;
}

.downArr:hover img {
    animation: downArr 1s linear 0s infinite normal both;
}

@keyframes rightArr {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateX(-48px);
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateX(-26px);
    }

    65% {
        animation-timing-function: ease-in;
        transform: translateX(-13px);
    }

    82% {
        animation-timing-function: ease-in;
        transform: translateX(-6.5px);
    }

    93% {
        animation-timing-function: ease-in;
        transform: translateX(-4px);
    }

    25%,
    55%,
    75%,
    87%,
    98% {
        animation-timing-function: ease-out;
        transform: translateX(0px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes downArr {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateY(-45px);
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateY(-24px);
    }

    65% {
        animation-timing-function: ease-in;
        transform: translateY(-12px);
    }

    82% {
        animation-timing-function: ease-in;
        transform: translateY(-6px);
    }

    93% {
        animation-timing-function: ease-in;
        transform: translateY(-4px);
    }

    25%,
    55%,
    75%,
    87% {
        animation-timing-function: ease-out;
        transform: translateY(0px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0px);
    }
}

/* ANIMATION */


/* aaa */



@media (min-width: 769px) {
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .navbar-expand-lg .navbar-toggler {
        display: none;
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

    .navbar-nav {
        flex-direction: row;
    }
}

/* MOBILE VIEW */
@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    #top {
        background-size: contain;
    }

    .ie-show {
        display: flex !important;
        flex-direction: column;
    }

    .navbar-nav {
        width: 100%;
    }

    nav {
        margin: 0;
        padding: 2.5em 1em 1.5em !important;
    }

    .navbar {
        position: fixed;
        background-color: #0F1320 !important;
        align-items: baseline;
        width: 100%;
        z-index: 9999;
    }

    .navbar.stretch {
        background-image: url(../img/db-nav-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #06080E !important;
        height: 100vh;
    }

    .navbar-collapse .show {
        height: 100vh;
    }

    .collapsing {
        transition: height 0s ease;
    }

    .slick-next,
    .slick-prev {
        display: none;
    }
    
    .tab-bg{
        background-size: auto;  
    }
    
    .img-def{
        width: 100%;
    }

    .sp-center {
        text-align: center;
    }

    .container {
        padding: 3em 1em;
    }

    .vh60 {
        height: auto;
    }

    .mt-1-sp {
        margin-top: 1.5em;
    }

    .mt-3-sp {
        margin-top: 3em;
    }


    .cont-background {
        background-size: contain;
        background-position-y: 80%;
    }

    .navbar-nav {
        justify-content: center;
        height: 65vh;
        /* gap: 2em; */
    }

    .navbar-nav li {
        margin-top: 2em;
    }

    .nav-link {
        font-size: 32px;
    }

    .icon-content {
        gap: 1.5em;
    }



    .icon-content a {
        text-decoration: none;
    }

    .icon-content a:hover img {
        filter: brightness(120%);
    }

    #carouselExampleControls2 .carousel-item {
        margin-top: 2em !important;
    }

    .nav-link.active {
        color: #FFFFFF;

    }

    .navbar-nav .nav-item.text-center {
        text-align: left !important;
    }

    .navbar.show {
        background-image: url(../img/nav-sp-bg.png) !important;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }

    .tab-select {
        display: flex;
        background: #19114c;
        color: white;
        border: none;
        margin-left: auto;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .no-scroll {
        overflow: hidden;
    }

    .sp-none {
        display: none !important;
    }

    .sp-show {
        display: block !important;
    }

    .cst-container {
        padding: 0;
    }

    .circle-sp {
        padding-left: 2em;
        padding-right: 2em;
        margin-top: 2em;
    }

    h1 {
        font-size: 2.2em;
        line-height: 1.2em;
    }

    .lower-tab-content .col-lg-4 .content{
        width: 85%;
        margin: 0 auto;
        margin-top: 3em;
    }

    .bg-tri-2::after {
        content: none;
    }

    #section2 .title {
        font-style: normal;
        font-weight: 700;
        font-size: 2.4em;
        line-height: 1.2em;
        width: 100%;
    }

    .card-2 {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .lower-tab-content .col-lg-4 {
        margin-left: 0;
    }

    .lower-tab-content .col-lg-7,
    .lower-tab-content .col-lg-5 {
        margin-bottom: 5em;
    }

    .lower-tab-content .content {
        color: #FFFFFF !important;
    }

    .lower-tab-content h2 {
        border: none;
    }

    .lower-tab-content h2,
    .lower-tab-content .caption {
        padding-left: 0;
    }

    .lower-tab-content button {
        margin-left: 0;
    }

    .width-half {
        width: 100%;
    }

    .cst-row {
        flex-direction: column;
        margin-top: 5em;
    }

    .width-container1 {
        height: 50vh;
        border-top-right-radius: 0;
        border-top-left-radius: 10em;
    }

    .width-container2 {
        padding-top: 0;
        padding-left: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 10em;
    }

    .list-container {
        margin-top: 0;
    }

    #section4 .lower-content {
        margin-top: 3em;
    }

    #section4>.container-fluid {
        border-bottom-left-radius: 4em;
    }

    .lower-content {
        flex-direction: column-reverse;
    }

    .row.list-container .upper-img img {
        margin-left: -2em;
    }

    .cst-row .title {
        font-size: 2.2em;
    }

    .cst-row .sub-title {
        font-size: 1em;
        font-weight: bold;
    }

    .card-1,
    .card-2 {
        width: 100%;
    }

    #lower-slideshow .next,
    #lower-slideshow .prev {
        position: static;
    }

    #lower-slideshow .mySlides img {
        width: 100%;
    }

    #lower-slideshow .button {
        margin-bottom: 3em;
        margin-top: 2em;
    }

    .card-content .btn-contact {
        width: 100%;
        margin-top: 3em;
        background: #5468E7;
    }

    .card-content .img-def {
        transform: scale(1);
    }

    .card-info-content .col-lg-4:nth-child(2) {
        margin-left: 0;
        margin-top: 0;
    }

    .card-info-content {
        margin-top: 0em;
        flex-direction: column-reverse;
    }

    .card-info-content .col-lg-4:nth-child(1) {
        margin-top: 2em;
    }

    .carousel-control-next {
        right: 0;
    }

    .carousel-control-prev {
        left: 0;
    }

    .nav-pills button.nav-link.active::after {
        left: 0;
    }

    #section4::after {
        content: none;
    }

    #section5::before {
        content: none;
    }

    #section5::after {
        content: none;
    }

    .lower-card .col-lg-4:nth-child(2) {
        margin-top: 0;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        margin-top: 2em;
    }

    .slick-initialized .slick-slide {
        padding: 1em;
    }

    .slick-dots li {
        list-style: none;
        padding: 0.5em;
    }

    .slick-dots li button {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #ffffff;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s
    }

    .slick-dots li.slick-active button {
        background-color: #00B3EB;
    }

    .green-arrow:after {
        content: url(../img/green-arrow-down.png);
        top: 14em;
        right: 50%;
        transform: translate(50%);
    }

    .yellow-arrow:after {
        content: url(../img/yellow-arrow-down.png);
        top: 14em;
        right: 50%;
        transform: translate(50%);
    }

    .job-card-content {
        margin-top: 3em;
    }

    #section7 .caption {
        width: 100%;
    }

    #section5 .title-lower,
    #section3 .title-lower {
        width: 85%;
    }

    .greet .p {
        font-size: 1.5em;
    }

    .greet .caption {
        width: 80%;
        font-size: 1.5em;
        line-height: 30px;
    }

    #section6 .col-lg-12 {
        padding-top: 5em;
        padding-bottom: 5em;
    }

    #section6 .col-lg-6 h2 {
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 2.1em;
        line-height: 40px;
    }

    #foot-select {
        width: 100%;
        background-color: #0000;
        height: 48px;
        border: 1px solid #D8D8D8;
        border-radius: 8px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .ico-list-sp {
        width: 100%;
    }

    .ico-list-sp li a {
        border: 1px solid #D8D8D8;
        padding: 16px;
        border-radius: 50%;

    }

    .ico-list-sp li a:hover {
        background-color: #5468E7;
    }

    .foot-sp p {
        margin-top: 40px;
        color: #ADADAD;
        font-size: 12px;
    }

    #section5 {
        padding-bottom: 18em;
    }

    .card {
        height: 25em;
    }

    .lower-card {
        position: relative;
        margin-top: 17em;
        margin-bottom: -10em;
        z-index: 3;
    }

    .lower-card h2 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 2.3em;
    }

    #section6 {
        background-color: #0F1320;
        position: relative;
        z-index: 2;
        margin-top: -10em;
        padding-top: 5em;
        border-top-right-radius: 4em;
    }

    #section6 h2 {
        margin-top: 0;
        font-size: 2.3em;
    }

    #section7 {
        background-image: url(../img/bg-ft.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: -7em;
    }

    #section6 .z-index2 .col-lg-4:nth-child(2) {
        margin-top: 1.5em;
    }
}

/* MOBILE VIEW */

/* IN BETWEEN */
@media only screen and (min-width: 769px) and (max-width: 881px) {


    .navbar-brand {
        margin-right: 0;
    }

    .navbar-brand img {
        width: 70%;
    }

    .navbar-nav .nav-link {
        padding-left: 0.4em !important;
        padding-right: 0.4em !important;
    }

    nav {
        margin-right: 0;
        margin-left: 0;
    }


    .mt-2-tb {
        margin-top: 2em !important;
    }

    #section6 .z-index2 .col-lg-4:nth-child(2) {
        margin-top: 0;
    }
    
    .green-arrow:after {
        content: url(../img/green-arrow-down.png);
        top: 14em;
        right: 50%;
        transform: translate(50%);
    }

    .yellow-arrow:after {
        content: url(../img/yellow-arrow-down.png);
        top: 14em;
        right: 50%;
        transform: translate(50%);
    }

}

/* IN BETWEEN */

/* CARD SPECIFIC */
@media only screen and (min-width: 881px) and (max-width: 991.5px) {
    .mt-2-tb {
        margin-top: 2em !important;
    }

    #section6 .z-index2 .col-lg-4:nth-child(2) {
        margin-top: 0;
    }
    
    .green-arrow:after {
        content: url(../img/green-arrow-down.png);
        top: 14em;
        right: 50%;
        transform: translate(50%);
    }

    .yellow-arrow:after {
        content: url(../img/yellow-arrow-down.png);
        top: 14em;
        right: 50%;
        transform: translate(50%);
    }

}

/* CARD SPECIFIC */

/* TABLET */
@media only screen and (min-width: 769px) and (max-width: 1204px) {


    .container {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-nav .nav-link {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .navbar-nav {
        margin-bottom: 0 !important;
    }

    .nav-right {
        width: 40%;
    }

    .btn {
        width: 50%;
    }

    .lower-tab-content .col-lg-4 {
        margin-left: 0;
    }

    .width-half {
        width: 100%;
    }

    .cst-row {
        flex-direction: column;
    }

    .width-container1 {
        height: 30vh;
        border-top-right-radius: 0;
        border-top-left-radius: 10em;
    }

    .width-container2 {
        padding-top: 0;
        padding-left: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 10em;
    }

    .lower-card .col-lg-4:nth-child(2) {
        margin-top: 0;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        margin-top: 2em;
    }

    .slick-initialized .slick-slide {
        padding: 1em;
    }

    .slick-dots li {
        list-style: none;
        padding: 0.5em;
    }

    .slick-dots li button {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #ffffff;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s
    }

    .slick-dots li.slick-active button {
        background-color: #00B3EB;
    }

    #section5::after {
        box-shadow: 0px -9em 0px 0 #0a4a9d;
    }
    
    

    footer .col-lg-4 {
        display: flex;
        justify-content: center;
        margin-bottom: 1em;
    }

    footer .text-right {
        text-align: center;
    }


}

/* TABLET */

/* IPAD MINI ONLY */
@media only screen and (width: 768px) {
    .cont-background {
        background-size: 70%;
        background-position-y: 11em;
    }

    .tabing .col-lg-9 {
        width: 100%;
    }
    
    .green-arrow:after {
        right: 47%;
    }
    
    .yellow-arrow:after {
        right: 47%;
    }

    .lower-content {
        flex-direction: row;
    }
}


/* LARGE SCREEN */

@media only screen and (min-width: 1368px) {
    h1{
        font-size: 4.2em;
    }
    
    .cst-row .sub-title {
        font-size: 1em;
        font-weight: bold;
    }
    
    .top-caption p{
        font-size: 18px;
    }
    
    .nav-link{
        font-size: 18px;
    }
    
    .circle-sp{
        padding-left: 2.5em;
        padding-right: 2.5em;
    }

    .width-container2 .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        padding: 0;
        width: 80%;
        margin: 0 auto;
    }

    .width-container1 {
        background-position: center;
    }

    .nav-pills button.nav-link.active::after {
        left: 15em;
    }
}


/* BURGER */
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
    padding: 15px 15px;
    margin-right: -1em !important;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger.is-active:hover {
    opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #FFFFFF;
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

/*
     * Squeeze
     */
.hamburger--squeeze .hamburger-inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* loader */
@keyframes bounce {

    0%,
    100% {
        animation-timing-function: cubic-bezier(0.45, 0, 0.9, 0.55)
    }

    0% {
        transform: translate(0, 0)
    }

    50% {
        transform: translate(0, 121.80000000000001px);
        animation-timing-function: cubic-bezier(0, 0.45, 0.55, 0.9);
    }

    100% {
        transform: translate(0, 0);
    }
}

.bounce div {
    position: relative;
    width: 46.2px;
    height: 46.2px;
    border-radius: 50%;
    background: #5468e7;
    margin: 0 auto;
    animation: bounce 0.7874015748031495s linear infinite;
}

.loadingio-spinner-ball-g09ak85wt5 {
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
}

.bounce {
    width: 100vw;
    height: 100vh;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    display: flex;
    align-items: center;
    margin: 0 auto;
    /* see note above */
}

.bounce div {
    box-sizing: content-box;
}

/* generated by https://loading.io/ */

/* loader */

@keyframes fade-in {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fade-out {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

/* SLIDE IN */

/* ----------------------------------------------
 * Generated by Animista on 2022-12-26 12:30:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-tr
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-tr {
    0% {
        -webkit-transform: translateY(-50px) translateX(50px);
        transform: translateY(-50px) translateX(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-tr {
    0% {
        -webkit-transform: translateY(-50px) translateX(50px);
        transform: translateY(-50px) translateX(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
        opacity: 1;
    }
}

/* SLIDE OUT */
/* ----------------------------------------------
 * Generated by Animista on 2022-12-26 12:32:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-bl
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-bl {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(1000px) translateX(-1000px);
        transform: translateY(1000px) translateX(-1000px);
        opacity: 0;
    }
}

@keyframes slide-out-bl {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(1000px) translateX(-1000px);
        transform: translateY(1000px) translateX(-1000px);
        opacity: 0;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-26 13:21:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}