body {
        width: 100%;
        background-image: url(../img/bg.jpg);
        background-size: contain;
        background-repeat: round;
}

h1 {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
}

h1 img{
        width: 15em;
}

main{
        display: flex;
        margin-top: 3em;
        justify-content: center;
        align-items: center;
        height: 50vh;
}

section{
        justify-content: center;
        align-items: center;
}

a {
        text-decoration: none;
}

.none{
        pointer-events: none;
}

.score {
        position: absolute;
        right: 1em;
        bottom: 2em;
        background-color: #ffffff;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 16vw;
        margin: 0 auto;
        border: 2px solid #e1df0d;
        border-radius: 30%;
        box-shadow: -2px 7px 32px -3px #eef00b;
        -webkit-box-shadow: -2px 7px 32px -3px #eef00b;
        -moz-box-shadow: -2px 7px 32px -3px #eef00b;
}


.option {
        display: block;
        padding: 3em;
}


.over {
        display: none;
}

.main {
        display: none;
}

.main,
.option {
        position: relative;
        background-color: #ffffff;
        width: 50vw;
        margin: 0 auto;
        border: 2px solid #e1df0d;
        border-radius: 30%;
        box-shadow: -2px 7px 32px -3px #eef00b;
        -webkit-box-shadow: -2px 7px 32px -3px #eef00b;
        -moz-box-shadow: -2px 7px 32px -3px #eef00b;
}

.result {
        position: absolute;
        width: 10em;
        border: 1px solid red;
        height: 2em;
        background-color: white;
        left: 50%;
        top: 38%;
        transform: translateX(-50%);
        color: red;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
}

.over{
        position: relative;
        background-color: #ffffff;
        width: 50vw;
        padding: 3em;
        margin: 0 auto;
        border: 2px solid #e1df0d;
        border-radius: 30%;
        box-shadow: -2px 7px 32px -3px #eef00b;
        -webkit-box-shadow: -2px 7px 32px -3px #eef00b;
        -moz-box-shadow: -2px 7px 32px -3px #eef00b;
}


.main img {
        max-width: 100px;
}

.option .row {
        width: 105%;
        margin-top: 3em;
}

.choice img {
        width: 4.5em;
        -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
        animation: pulsate-fwd 0.5s ease-in-out infinite both;
}

.restart button{
        -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
        animation: pulsate-fwd 0.5s ease-in-out infinite both;
}

.pc {
        padding-bottom: 3em;
}

.player {
        padding-top: 3em;
        border-top: 1px solid black;
        padding-bottom: 1em;
}

.score p {
        color: black;
}

.score span{
        font-size: 2em;
        font-weight: bold;
}

.score-player img, .score-pc img{
        width: 30px;
        height: 40px;
}



.player-pic img:hover {
        cursor: pointer;
        -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
        animation: heartbeat 1.5s ease-in-out infinite both;
}


.heartbeat {
        -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
        animation: heartbeat 1.5s ease-in-out infinite both;
}

.score-result{
        font-size: 5em;
        font-weight: bold;
}

.score-result.win{
        color: green;
}

.score-result.lose{
        color: red;
}

.over{
        width: 50vw;
}

.over button{
        width: 7em;
        font-size: 1.5em;
}

/* MOBILE */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
        body{
                background-repeat: unset;
        }

        h1 {
                margin-bottom: 2em;
                margin-top: 3em;
        }
        
        h1 img{
                width: 11em;
        }

        .col-md-4 {
                width: 30%;
        }

        .main img {
                max-width: 100px;
        }
        
        .option{
                padding: 1em;
        }

        .main,
        .option {
                width: 88vw;
        }
        
        .row.player{
                width: 120%;
        }
        
        .option .row {
                width: 111%;
                margin-top: 0;
            }

        .option h2 {
                padding: 0.5em;
        }

        .option .col-lg-12 {
                padding: 2em;
        }


        .result {
                top: 37%;
        }

        .score {
                top: unset;
                bottom: 2em;
                width: 14em;
                right: 1em;
        }

        .score-result {
                font-size: 2.5em;
                font-weight: bold;
        }
        
        .over {
                width: 90vw;
            }

}

@-webkit-keyframes heartbeat {
        from {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: center center;
                transform-origin: center center;
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        10% {
                -webkit-transform: scale(0.91);
                transform: scale(0.91);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        17% {
                -webkit-transform: scale(0.98);
                transform: scale(0.98);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        33% {
                -webkit-transform: scale(0.87);
                transform: scale(0.87);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        45% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
}

@keyframes heartbeat {
        from {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: center center;
                transform-origin: center center;
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        10% {
                -webkit-transform: scale(0.91);
                transform: scale(0.91);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        17% {
                -webkit-transform: scale(0.98);
                transform: scale(0.98);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        33% {
                -webkit-transform: scale(0.87);
                transform: scale(0.87);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        45% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-10-12 21:18:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes pulsate-fwd {
        0% {
          -webkit-transform: scale(1);
                  transform: scale(1);
        }
        50% {
          -webkit-transform: scale(1.1);
                  transform: scale(1.1);
        }
        100% {
          -webkit-transform: scale(1);
                  transform: scale(1);
        }
      }
      @keyframes pulsate-fwd {
        0% {
          -webkit-transform: scale(1);
                  transform: scale(1);
        }
        50% {
          -webkit-transform: scale(1.1);
                  transform: scale(1.1);
        }
        100% {
          -webkit-transform: scale(1);
                  transform: scale(1);
        }
      }
      