body {
        width: 100%;
}

h1 {
        text-align: center;
        margin-bottom: 1em;
}

a {
        text-decoration: none;
}

.score {
        position: absolute;
        right: 0;
        top: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 16vw;
        margin: 0 auto;
        border: 2px solid #FF577F;
        border-radius: 30%;
        box-shadow: -2px 7px 32px -3px #FF577F;
        -webkit-box-shadow: -2px 7px 32px -3px #FF577F;
        -moz-box-shadow: -2px 7px 32px -3px #FF577F;
}


.option {
        display: block;
}


.over {
        display: none;
}

.main {
        display: none;
}

.main,
.option {
        position: relative;
        width: 50vw;
        margin: 0 auto;
        border: 2px solid #FF577F;
        border-radius: 30%;
        box-shadow: -2px 7px 32px -3px #FF577F;
        -webkit-box-shadow: -2px 7px 32px -3px #FF577F;
        -moz-box-shadow: -2px 7px 32px -3px #FF577F;
}

.result {
        position: absolute;
        width: 10em;
        border: 1px solid red;
        height: 2em;
        background-color: white;
        left: 50%;
        top: 43%;
        transform: translateX(-50%);
        color: red;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
}

.main img {
        max-width: 180px;
}

.pc {
        padding-bottom: 3em;
}

.player {
        padding-top: 3em;
        border-top: 1px solid black;
        padding-bottom: 1em;
}




.player-pic img:hover {
        cursor: pointer;
        -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
        animation: heartbeat 1.5s ease-in-out infinite both;
}


.heartbeat {
        -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
        animation: heartbeat 1.5s ease-in-out infinite both;
}


/* MOBILE */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
        h1 {
                margin-bottom: 5em;
                margin-top: 2em;
        }

        .col-md-4 {
                width: 30%;
        }

        .main img {
                max-width: 100px;
        }

        .main,
        .option {
                width: 88vw;
        }
        
        .option h2{
                padding: 0.5em;
        }
        
        .option .col-lg-12{
                padding: 2em;
        }
        

        .result {
                top: 37%;
        }

        .score {
                top: 40em;
                width: 46vw;
        }

        .score-result {
                font-size: 3em;
                font-weight: bold;
        }

}

@-webkit-keyframes heartbeat {
        from {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: center center;
                transform-origin: center center;
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        10% {
                -webkit-transform: scale(0.91);
                transform: scale(0.91);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        17% {
                -webkit-transform: scale(0.98);
                transform: scale(0.98);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        33% {
                -webkit-transform: scale(0.87);
                transform: scale(0.87);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        45% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
}

@keyframes heartbeat {
        from {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: center center;
                transform-origin: center center;
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        10% {
                -webkit-transform: scale(0.91);
                transform: scale(0.91);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        17% {
                -webkit-transform: scale(0.98);
                transform: scale(0.98);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        33% {
                -webkit-transform: scale(0.87);
                transform: scale(0.87);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        45% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
}