body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
    font-size: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    color: #208796;
}

.runningText {
    overflow: hidden;
    position: relative;
    background-color: #FFF34C;
    border: solid 0.1px #131313;
    border-radius: 0.3em;
    padding: 1em;
    margin-bottom: 1em;
}

#scroll-text{
    white-space: nowrap;
    margin-bottom: 0;
}

.accordion-button {
    background-color: #208796;
    color: #fff;
    margin-bottom: 2em;
}

.accordion-button:not(.collapsed) {
    background-color: #208796;
    color: #fff;
}

.btn-search {
    background-color: #4FA097;
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-button,
.accordion-button.collapsed {
    border-radius: 0.7em !important;
}

.gpsFilterContainer {
    margin-bottom: 2em;
}

.btn-search {
    margin-top: 2em;
}

.hide {
    display: none;
}

.today {
    background-color: #fff898;
}

thead {
    background-color: #208796;
    color: #ffff;
    text-align: center;
}

tbody {
    text-align: center;
}

.schedule-head {
    vertical-align: middle;
}

footer {
    margin-top: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #208796;
    color: #fff;
}

.errorGPS {
    margin-top: 2em;
    margin-bottom: 2.5em;
    font-size: 1.5em;
    font-weight: bold;
}


/* ANIMATION */
.spinner-border {
    width: 5rem !important;
    height: 5rem !important;
    border-width: 0.75em !important;
}

.fade-in {
    -webkit-animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-out {
    -webkit-animation: fade-out 1.2s ease-out both;
    animation: fade-out 1.2s ease-out both;
}


@media only screen and (max-width: 768px) {
    .sp-margin-top-sm {
        margin-top: 0.8em;
    }
}

#scroll-text {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);

    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
    }
}

/* for Chrome */
@-webkit-keyframes my-animation {
    from {
        -webkit-transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

}

/* ----------------------------------------------
 * Generated by Animista on 2023-3-25 12:26:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-3-25 12:27:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}